// Vars
$main_color: #0000ff;
$font_color: #333333;
$header_font: 'Lato', sans-serif;
$font: 'Montserrat', sans-serif;
$width: 1170px;
// Mixins
@mixin center() {
  width: $width;
  margin: 0 auto;
}
