* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $font;
  color: $font_color;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header_font;
}
p {
  line-height: 1.6;
  img {
    width: auto;
    height: auto;
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input[type=submit] {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  background: $main_color;
  color: white;
  border-radius: 5px;
}
textarea {
  resize: none;
  width: 100%;
}
input, textarea {
  outline: none;
}
div[role=form] {
  width: 50%;
  display: flex;
}
input[type=text], input[type=email] {
  padding: 10px;
  width: 100%;
}
