.nav_container {
  width: 100%;
  background: $main_color;
}
nav {
  @include center();
  border-bottom: 1px solid white;
  ul {
    display: flex;
  }
  a {
    display: block;
    padding: 10px 20px;
    color: white;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: $header_font;
    &:hover {
      &:before {
        width: 100%;
      }
    }
    &:before {
      content: "";
      width: 0;
      background: white;
      height: 3px;
      top: 0;
      left: 0;
      position: absolute;
      transition: all 150ms linear;
    }
  }
}
