.content_container {
  @include center();
  display: flex;
  flex-wrap: wrap;
}
.content {
  width: 100%;
}
.news {
  position: relative;
  width: 100%;
}
.news_text {
  position: absolute;
  bottom: 0;
  background: rgba($color: $main_color, $alpha: 0.5);
  width: 100%;
  padding: 20px;
  color: white;
}
.grid_news {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .news {
    width: 49.5%;
    margin-top: 5px;
  }
}
